<%= form_with model: @comment, url: user_post_comments_path do |form|%>

<%= form.label :text, 'Add Comment' %>

<%= form.text_field :text%>
<br/>
<div class="smaller-buttons">
    <%= form.submit%>
</div>
<% end %>